a:link,a:visited{
  text-decoration: none;
  background-color: rgb(255, 115, 0);
  border:2px solid black;
  color: black;
  display:block;
  text-align: center;
  margin-left: 50px;
  margin-bottom: 10px;
  font-size: 50px;
  width: 250px;
  padding: 10px 10px 10px 10px;
}
a:hover,a:active{
  color:rgb(255, 115, 0);
  border:2px solid rgb(255, 115, 0);
  background-color:black;
}
footer{text-align:center;font-size: 30px;color:wheat}

