<<<<<<< HEAD
*{
  font-family: -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
  background-color: bisque;
  margin: 30px;
}
#header{
  border: solid brown 4px;
  border-radius: 20px;
  text-align: center;
  background-color: rgb(248, 198, 169);
  font-size: 20px;
  margin-bottom: 10px;
  text-decoration: underline;
}
#body{
  
  font-size: 25px;
  border: solid brown 4px;
  border-radius: 20px;
  text-align: center;
  background-image: url(Background.jpeg);
  padding-top: 30px;
  padding-bottom: 30px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: center;
  margin-bottom: 10px;
  padding-top: 80px;
  padding-bottom: 80px;
}
#features{
  border: solid brown 4px;
  border-radius: 20px;
  text-align: center;
  background-color: rgb(248, 198, 169);
  font-size: 20px;
  margin-bottom: 10px;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
=======
*{
  font-family: -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
  background-color: bisque;
  margin: 30px;
}
#header{
  border: solid brown 4px;
  border-radius: 20px;
  text-align: center;
  background-color: rgb(248, 198, 169);
  font-size: 20px;
  margin-bottom: 10px;
  text-decoration: underline;
}
#body{
  
  font-size: 25px;
  border: solid brown 4px;
  border-radius: 20px;
  text-align: center;
  background-image: url(Background.jpeg);
  padding-top: 30px;
  padding-bottom: 30px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: center;
  margin-bottom: 10px;
  padding-top: 80px;
  padding-bottom: 80px;
}
#features{
  border: solid brown 4px;
  border-radius: 20px;
  text-align: center;
  background-color: rgb(248, 198, 169);
  font-size: 20px;
  margin-bottom: 10px;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
>>>>>>> ed1ca931f23a9d9c263a1926827a93ba9ca82f2a
