
h2{
  color: aliceblue;
}
#heading{
  font-size: 40px;
  color: aliceblue;
  text-align: center;
  text-decoration: underline;
  
}
@media(min-width:600px){
  body{
    background-image: url(Background.jpeg);
    background-repeat: repeat-y;
    background-size: 100%;
    background-blend-mode: darken;
  }
}
@media(max-width:599px){
  body{
    background-image: url(Background1.jpeg);
    background-repeat: repeat-y;
    background-size: 100%;
    background-blend-mode: darken;
  }
}
#container{
  padding-left: 40px;
}
#features{
  color: aliceblue;
  font-size:  25px;
}