*
{
   font-family: "Lucida Console", Courier, monospace;
}
  body
{
  margin:0;
  background:black;
}
#city_input
{
	border:1px solid blue;
}


h2
{
  font-size:50px;
  text-align:center;
  color:#0dff00;
  margin-top: 80px;
}
#city_input
{
  width:60%;
  height:30px;
  border-radius:20px;
  border:0.5px solid #0dff00;
  outline:none;
  padding-left:30px;
  margin-left:110px;
  background:transparent;
  color:#0dff00;
  margin-top:20px;
  box-shadow: 0px 0px 10px #0dff00;
}
#submit
{
  border-radius:10px;
  border:0.2px solid black;
  outline:none;
  letter-spacing:2px;
  margin-left:280px;
  width:60px;
  height:20px;
  color:#0dff00;
  background:transparent;
  box-shadow: 0px 0px 10px #0dff00;
  margin-top:10px;
}
#submit:hover
{
  background:#0dff00;
  color:black;
  transition:0.5s;
  
  outline:none;
}
#left
{
  width:45%;
  background:black;
  height:500px;
}
#right
{
  width:50%;
  padding-left:5%;
}
.box
{
  float:left;
}

div
{
	font-family: "Lucida Console", Courier, monospace;
}
.right
{
	padding-top: 20px;
  color:#0dff00;
  background:black;
}

#heading
{
  padding-top:30px;
  padding-bottom:30px;
  text-align:center;
  font-size:30px;
  font-family: Lucidatypewriter, monospace;
  color:#0dff00;
  background:black;
}
#navbar
{
  width:100%;
  height:40px;
  background:black;
  color:#0dff00;
}
.navi
{
  float:right;
  padding-right:30px;
  padding-top:10px;
}
#company
{
  width:10%;
  padding-top:10px;
  float:left;
  padding-left:10px;
}

div
{
	animation: animate 2s linear forwards;
}
@keyframes animate 
{
	0%
	{
		opacity:0;
	}
	100%
	{
		opacity:1;
	}
}
#contact
{
	width:180px;
	color:#0dff00;
	margin-top: 230px;
	margin-left: 190px;
	padding-right:80px;
	padding-left: 10px;
	border:0.5px solid #0dff00;
	box-shadow: 0px 0px 10px #0dff00;
}
#head
{
	text-align: center;
	margin-left: 10px;
}