*{
  box-sizing: border-box;
}
body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar{
    padding-left: 2%;
    padding-right: 2%;
    font-size: large;
    font-weight: 500;
}
.dropdown:hover>.dropdown-menu {
    display: block;
    margin-top: 0;
    border-style: none;
    border-radius: 10px;
    box-shadow:0 0 10px rgb(155, 155, 238);
}
.dropdown>.dropdown-toggle:active {
      pointer-events: none;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
    margin-top: 0;
    border-style: none;
    border-radius: 10px;
    box-shadow:0 0 10px rgb(155, 155, 238);
}
.dropdown-submenu>.dropdown-toggle:active {
    pointer-events: none;
}
.navbar-nav>.btn{
    width: 150px;
    margin-left: 15px;
    padding: 10px;
    border-radius: 20px;
}
@media(max-width:1200px){
    #bookingbutton{
        display: none;
    }
}
#maincontainer{
    padding-left: 3%;
    padding-right: 3%;
}
@media(min-width:765px){
#container1>#text{
    margin: 0;
    padding-top: 120px;
}
#video_placeholder{
    margin-top: 30px;
    min-height: 350px;
    border: 20px solid transparent ;
    border-image: url(images/border.jpg) 40 ;
    background-image: url(images/playbutton.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 125px 125px;
}
}
#container1{
    margin-bottom: 20px;
}

@media(max-width:764px){
    #container1>#text{
        margin: 0;
        text-align: center;
        padding-top:40px;
    }
    #video_placeholder{
        margin-left: 2%;
        margin-top: 30px;
        min-height: 250px;
        border: 20px solid transparent ;
        border-image: url(images/border.jpg) 40 ;
        background-image: url(images/playbutton.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 125px 125px;
    }
}    
#doubtbutton{
    border-radius: 8px;
}
#container2{
    margin: 0;
    border-radius: 30px;
    margin-top: 25px;
    background-image: url(images/background6.png);
}
#container2>#heading{
    margin-top: 25px;
    margin-bottom: 25px;
}
#outertile{
    padding: 20px;
   
}
#innertile{
    box-shadow: 0 0 5px rgb(155, 155, 238);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: large;
    background-color: white;
}
#innertile>span{
    padding: 3px;
    
}
#container3{
    margin-top: 35px;
}
#container3>#text>#heading{
    margin-top: 40px;
    text-align: center;
}
#container3>#text>div>#image1{
    background-image: url(images/image6.jpeg);
    background-repeat: no-repeat;
    min-height: 75px;
    max-width: 75px;
}
#container3>#text>div>#image2{
    background-image: url(images/image7.jpg);
    background-repeat: no-repeat;
    min-height: 75px;
    max-width: 75px;
}
#container3>#image{
    min-height: 386px;
    background-image: url(images/image5.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
@media(max-width:999px){
    #container3>#image{
        min-height: 250px;
        background-image: url(images/image5smaller.jpg);
        background-repeat: no-repeat;
        background-position: center;
    }
}
@media(max-width:575px){
    #container3>#text>div>#image1{
        background-image: none;
        min-height: auto;
    }
    #container3>#text>div>#image2{
        background-image: none;
        min-height: auto;
    }
}
#container4{
    margin: 0;
    margin-top: 30px;
    background-image: url(images/background5\ .png);
    padding:15px;
    border-radius: 50px;
    box-shadow: 0 0 5px rgb(155, 155, 238);
}
#container4>#tile1>#image{
    background-image: url(images/image8.jpg);
    background-position: center;
    height: 250px;
    text-align: center;
    margin:30px;
    border-radius: 125px;
    
}
#container4>#tile1>#text{
    text-align: center;
    widows: 250px;
    font-size: 25px;
}
#container4>#tile2>#image{
    background-image: url(images/image9.jpg);
    background-position: center;
    height: 250px;
    text-align: center;
    margin:30px;
    border-radius: 125px;
    
}
#container4>#tile2>#text{
    text-align: center;
    widows: 250px;
    font-size: 25px;
}
#container4>#tile3>#image{
    background-image: url(images/image10.jpg);
    background-position: center;
    height: 250px;
    text-align: center;
    margin:30px;
    border-radius: 125px;
    
}
#container4>#tile3>#text{
    text-align: center;
    widows: 250px;
    font-size: 25px;
}
#container5>div>#image1{
    margin-top: 15px;
    background-image: url(images/image6.jpeg);
    background-repeat: no-repeat;
    min-height: 75px;
    max-width: 75px;
}
#container5>div>#image2{
    margin-top: 15px;
    background-image: url(images/image11.png);
    background-repeat: no-repeat;
    min-height: 75px;
    max-width: 75px;
}
#container5>div>#image3{
    margin-top: 15px;
    background-image: url(images/image12.png);
    background-repeat: no-repeat;
    min-height: 75px;
    max-width: 75px;
}
@media(min-width:900px){
    .carousel{
        margin:10%;
        margin-top: 2%;
        margin-bottom:3%;
    }
}
#container6{
    margin: 0;
    margin-top: 20px;
    background-image: url(images/background7.jpg);
    background-position: center;
    padding: 30px;
    border-radius: 25px;
}
#container6>#tile{text-decoration: none;}
#container6>#tile>div{
    text-align: center;
    background-color: white;
    border-radius: 15px;
    width: fit-content;
    padding: 15px;
    margin: 0 auto;
    box-shadow: 0 0 5px  rgb(155, 155, 238);
}
#container6>#tile>div>#text{
        width: fit-content;
        margin: 0 auto;
        padding: 3px;
}
#container7{
    margin: 0;
    margin-top: 20px;
    background-image: url(images/background8.jpg);
    background-position: center;
    padding: 30px;
    border-radius: 25px;
}
#container7>#tile{text-decoration: none;margin-top: 10px;}
#container7>#tile>div{
    text-align: center;
    background-color: white;
    border-radius: 15px;
    width: fit-content;
    padding: 15px;
    margin: 0 auto;
    box-shadow: 0 0 5px  rgb(155, 155, 238);
}
#container7>#tile>div>#text{
        width: fit-content;
        margin: 0 auto;
        padding: 3px;
}