body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #15173d;
    
}
.heading{
    text-align: center;
    color: rgb(97, 190, 226);
    
}

button {
    margin-top: 8px;
    box-shadow: none;
    background: none;
    color: #fff;
    text-decoration: none;
    padding: 8px;
    border: none;
    font-size: larger;
    padding: 5px;
}
#image_container{
    padding-left: 8vw;
    padding-right: 8vw;
}
img{
    height: 200px;
    width:200px;
    margin: 25px;
    border-radius: 25px;
    box-shadow: 0 0 25px  black;

}
button:hover,button:active {
    background: transparent;
    color: rgb(97, 190, 226);
    border: 1px solid rgb(97, 190, 226);
}
.navbar{
    text-align: center;
    background-color:black ;
    width: fit-content;
    margin: 0 auto;
    padding: 25px;
    width: 50vw;
    border-radius: 35px;
}