*{
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
  background-color: papayawhip;
}
.navbar{
  margin-bottom: 20px;
}
.container{
  margin: 0px;
}
#nav{
  
  font-weight: bold;
}

.col-xs-12{
  background-color: rgb(182, 177, 177);
  margin: 20px;
  border: 2px solid black;
  padding: 15px;
}
